  body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    font-family: 'Poppins', sans-serif;
    letter-spacing: 1px;
    overflow-x:hidden;
  }

  #family:focus, header:focus, footer#contact:focus {
    outline: none;
  }

  a.brand {
    margin-left: 30px !important;
  }

  img {
    max-width: 100%;
  }

  main {
    flex: 1 0 auto;
    text-align: center;
  }

  footer {
    text-align: center;
  }

  .intro-wrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 150px 0 300px;
    justify-content: center;
  }

  .intro-wrapper h4 {
    margin-left: 40px;
  }

  #family {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 80px 0 40px;
  }

  #family div.card {
    margin: 10px;
  }

  #family-pointer {
    margin: 0px 0 100px;
  }

  #family-picture, #work-picture {
    /* max-width: 80%; */
    opacity: .75;
    -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
    filter: grayscale(100%);
    transition: .45s;
    max-width: 100%;
    border: 5px solid black;
    outline: none;
  }

  .top-down-arrow {
    transition: .25s;
  }

  #intro-text {
    text-align: left;
    margin-bottom: -40px;
  }

  #family-text-container {
    font-size: .7em;
    max-width: 700px;
  }

  #family-text {
    display: inline-block;
    border-right: 3px solid right;
  }

  #work {
    display: flex;
    flex-direction: row;
    align-items: stretch;
    outline: none;
    /* padding-bottom: 50px; */
  }

  #ppd-picture, #study-picture {
    max-width: 50%;
  }

  #write-picture {
    min-width: 30%;
  }
  
  #work-header, #family-header {
    letter-spacing: 10px;
    outline: none;
  }

