.fade-in {
  transform-origin: 50% 50%;
  color: #f8b195;
  color: whitesmoke;
  /* background: rgba(222, 218, 215, .5);
  width: 50%; */
}

.fade-in-header {
  font-family: "Playfair Display", serif;
}

.fade-in-subText {
  font-family: "Source Sans Pro", sans-serif;
  font-size: 22px;
  width: 50%;
}
