.Middle {
  background-color: #355c7d;
  min-height: 750px;
  overflow: hidden;
  background-image: -webkit-linear-gradient(-45deg, #475953 50%, #9a7260 50%);
}

.Middle-header {
    position: relative;
    top: 80%;
    left: 50%;
}
